/*Add the styling needed to match the mockup. Refer to the styleguide for font and color info*/

body {
    font-family: 'Roboto';
    /* Use the Roboto font-family for the body */
    background-color: #F33947;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

div {
    text-align: left;
    background-color: #39D0F2;
    font-family: 'Roboto';
    font-weight: 700;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

section {
    background-color: #D9C35A;
    border-left: 10px solid #333333;
    border-right: 10px solid #333333;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    background-color: #F2E85E;
    text-align: center;
	color: #125DC0;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    text-align: left;
    font-family: 'Luckiest Guy', cursive;
    background-color: #F2E85E;
    color: #125DC0;
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 5%;
}

img {
    border: 10px solid #333333;
    display: block;
    margin: auto;
    width: 90%;
}

p{
    font-family: 'Roboto';
    font-weight: 700;
    padding-left: 5%;
    padding-right: 5%;
}

span{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

